<% if object.errors.any? %>
<p class="flash" id="alert">the form has the following <%= pluralize(object.errors.count, "error") %> </p><br >
<% object.errors.full_messages.each do |msg| %>
	<div class="error">*<%= msg %></div>
<% end %>
<% end %>

