<h2><%= @user %></h2>
<li><%= link_to("Edit user", edit_admin_path(@user)) %></li>
<li><%= link_to("delete", admin_user_path(@user), method: :delete, confirm: "you are bout to kill(delete) a human are you sure(tip-0:its not crime in this world) ") %></li>